.slide{
	position:relative;
	width: 100%;
}
.slide img{
	width:100vw;
}
.slide_headline {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 7vw;
    color: white;
}

.slide p {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2vw;
    color: white;
}
.slide_button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    border-radius: 20px;
    padding: 10px 20px 15px;
    font-size: 2vw;
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}